.header {
    display: flex;
    background-color: #4a2b53;
}

.header-title {
    display: flex;
    width: 20%;
    color: azure;
    text-align: center;
    margin: 0;
    padding: 0;
}

.h1 {
    position: relative;
    left:8%;

}

.img {
    position: relative;
    margin: 0;
    padding: 0;
    left: 13%;
    top:8%;
    width: 19.4%;
    height: 69%;
}

.header-menu {
    width: 60%;
    font-size: 150%;
    color: azure ;
}

.ul {
    list-style-type: none;
    display: flex;
    margin-top:0;
    margin-bottom: 0;
}

.alpha {
    background-color: rgb(169, 255, 88);
    color: #4a2b53;
    padding: 2%;
    padding-bottom: 4.4%;
    border-radius: 0;
   
}

.omega {
    display: flex;
    padding: 2%;
    padding-bottom: 4.4%;
    border-radius: 0;
    cursor: pointer;
   
}

.omega:hover {
    background-color: #5f376a;
    color:rgb(169, 255, 88)
}

.header-search {
    width: 20%;
}

input.input {
    position: relative;
    left:11%;
    width: 80%;
    height: 25px;
    margin-top: 6%;
    border-radius: 5px;
    border: 0; 
    background-color: #5f376a;
    color:azure;
    margin-bottom: 0;
}

input.input::placeholder {
    color:azure;
}

.body {
    display: flex;
    height: 800px;
}
.body-left {
    width: 22.7%;
    background-color: #5f376a;
    height: 200%;
}

.body-center {
    width: 60%;
    background-color:azure;
    height: 90%;
}

.body-right {
    width: 20%;
    background-color: #5f376a;
    height: 200%;
}

.ul-left {
    list-style-type: none;
    background-color: #825b8d;
    margin:0;
    padding: 0;
}

.ul-left-li {
    color:azure;
    padding: 4%;
}

.ul-left a {
    color: azure;
    text-decoration: none;
}
.ul-left-li-main {
    background-color: #c7a4d1;
    color: #4a2b53;
    padding: 4%;
}
.ul-left-li:hover {
    background-color: #5f376a;
}
.b-l {
    border: solid 2px azure;
    padding: 2%;
    margin: 3%;
    height: 60%;
}

.body-center-main {
    padding: 0.5%;
    margin: 1%;
    height: 110%;
    background-color: #5f376a;
}

.b-c-m-0 {
    display: flex;
    margin: 0;
    padding: 0;
}

.b-c-m-1 {
    padding: 1%;
    margin: 1.5%;
    height: 50px;
    width: 55%;
    color: azure;
}

.b-c-m-2 {
    padding: 1%;
    margin: 1.5%;
    height: 20px;
    width: 35%;
    color: azure;
}

.b-c-m-3 {
    border: solid 2px azure;
    padding: 1%;
    margin: 1.5%;
    height: 70%;
    width: 94.5%;
}

.all-com {
    background-color: #825b8d;
    margin: 1%;
    height: 50%;
}

.com {
    background-color: #825b8d;
    margin: 1%;
    height: 50%;
}

.text-com {
    color: azure;
}

.textarea {
    position: relative;
    left:11%;
    width: 80%;
    height: 34px;
    border-radius: 5px;
    border: 0; 
    background-color: #5f376a;
    color:azure;
    margin-bottom: 0;
}

.button {
    border: 0;
    border-radius: 0;
    background-color: #bbf799;
    color:#277b4b;
    box-shadow: 4px 4px 0px 0px #51653c ;
    font: 15px "Trebuchet MS", "Lucida Sans";
    margin: 10px;
    width: 20%;
    padding: 10px;
   
}