button {
    border: 0;
    border-radius: 0;
    background-color: #bbf799;
    color:#277b4b;
    box-shadow: 4px 4px 0px 0px #51653c ;
    font: 15px "Trebuchet MS", "Lucida Sans";
    margin: 10px;
    width: 20%;
    padding: 10px;
}

div {
    margin: 2%;
}