.b {
    background-color: rgb(86, 79, 79);
    padding: 2%;
    margin-bottom: 1%;
}

.but {
    background-color: #986b7f;
    color: white;
    border: 0;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    box-shadow: 4px 4px 0px 0px rgb(68, 62, 62);
    cursor: pointer;
}

.but:hover {
    background-color: #b07c94;
}

.u {
    background-color: rgb(86, 79, 79);
    padding: 0;
    margin: 0;
    display: flex;
}

.ul-number {
    list-style-type:none;
}

.li-n {
    position: relative;
    color: white;
    background-color: rgb(68, 62, 62);
    border: white solid 2px;
    padding: 40%;
    width: 170%;
    margin: 60%;
    border-radius: 100%;
    text-align: center; 
    left: 180%;
}

.ul-main {
    list-style-type:none;
}

.li-m {
    color: white;
    background-color: #986b7f;
    padding: 3%;
    padding-left: 20%;
    margin-bottom: 21%;
    margin-top: 15%;
    width: 280%;
    box-shadow: 4px 4px 0px 0px rgb(68, 62, 62);
}