* {
    margin: 0;
}
.container {
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-direction: row-reverse;
    /* justify-content: space-around; */
    justify-content: center;
    
}

.col-4 {
    width: 33.3%;
    height: 250px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 64px;
    color: #d5ffaf;
    text-align: center;
    background-color: #5f256b;
}

.col-6 {
    width: 250px;
    height: 250px;
    background-color: #d5ffaf;
    color:#5f256b;
    font-size: 64px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    
}