.sp {
    counter-reset: li; 
    list-style: none; 
    font: 17px "Trebuchet MS", "Lucida Sans";
    padding: 12px;
    margin-left: 17px;
}

.sp li {
    background-color: #bbf799;
    color:#51653c;
    position: relative;
    padding: 15px;
    margin: 12px;
    border-radius: 4px;
    margin-left: -13px;
}

.sp li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -20px;
    height: 62%;
    width: 2%;
    line-height: 30px;
    border: 4px solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    background-color: #bbf799;
}